@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* Esto crea automáticamente la clase 'font-cinzel' */
  --font-cinzel: "Cinzel", serif;
  --font-yanone: "Yanone Kaffeesatz", sans-serif;
  --font-yrsa: "Yrsa", sans-serif;
  /* Si quisieras agregar las otras, sería así: */
  --font-lato: "Lato", sans-serif;


  --color-brand-primary-800: #0E3B43;
  --color-brand-primary-700: #245058;
  --color-brand-primary-600: #2D5D66;
  --color-brand-primary-500: #316A74;

  
}
