@import "tailwindcss";


@theme {
  /* Esto crea automáticamente la clase 'font-cinzel' */
  --font-cinzel: "Cinzel", serif;
  --font-yanone: "Yanone Kaffeesatz", sans-serif;
  --font-yrsa: "Yrsa", sans-serif;
  /* Si quisieras agregar las otras, sería así: */
  --font-lato: "Lato", sans-serif;
--font-roboto-condensed: "Roboto Condensed", sans-serif;

  --color-brand-primary-800: #0E3B43;
  --color-brand-primary-700: #245058;
  --color-brand-primary-600: #2D5D66;
  --color-brand-primary-500: #316A74;

  
}
/* Añade esto a tu archivo de estilos */
.glide__arrow {
    box-shadow: none !important;
    text-shadow: none !important;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.glide__arrow:hover {
    opacity: 1;
    background-color: var(--color-brand-primary-800) !important;
}

/* Para que las imágenes no se deformen */
.glide__slide img {
    user-select: none;
    -webkit-user-drag: none;
}

